# Setup.py
*.egg

# Documentation
docs/_build/

# Virtual environment
bin/
lib/
lib64
include/
src/

# Certificates
certs/

# Production server
logs/
pip-log.txt

# Testing
.coverage

# Demo project
demo_project/demo_project.db
demo_project/settings_production.py
demo_project/media/admin
