# Setup.py
*.egg
*egg-info
# Documentation
_build
build
.Python

# Virtual environment
bin/
lib/
lib64
include/
src/
dist/

# Certificates
certs/

# Production server
logs/
pip-log.txt

# Testing
.coverage
.tox

# Demo project
demo/demo_project.db
demo/settings_production.py
demo/media/admin

# Compiled
*.pyc

# Temp vim files
*.swp

# Backup files
*~
