include README.rst
include MANIFEST.in
include tests.py
include run_tests
include pip-requirements.txt
recursive-include userena/fixtures *.json
recursive-include userena/templates *.html
recursive-include userena/locale *.po *.mo
recursive-include demo_project *.py
recursive-include demo_project/templates *.html
recursive-include userena/fixtures *.json
recursive-include docs *
