{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}

{% block content_title %}{% get_unread_message_count_for user as unread_message_count %}
<h2 class="content-title">Messages ({{ unread_message_count }} )</h2>{% endblock %}

{% block content %}

<a href="{% url userena_umessages_compose %}" class="button"><span>+ Compose message</span></a>
<ul id="messages">
  {% for message in message_list %}
  <li>
  {% if message.from_user == user %}
  <img src="{{ message.to_user.profile.get_mugshot_url }}" class="avatar" />
  <a href="{% url userena_umessages_detail message.to_user.username %}">{{ message.to_user }}</a>
  {% get_unread_message_count_between user and message.to_user as unread_between_count %}
  {% else %}
  <img src="{{ message.from_user.profile.get_mugshot_url }}" class="avatar" />
  <a href="{% url userena_umessages_detail message.from_user.username %}">{{ message.from_user }}</a>
  {% get_unread_message_count_between user and message.from_user as unread_between_count %}
  {% endif %}
  {{ message.latest_message }} ({{ unread_between_count }} new )
  </li>
  {% endfor %}
</ul>
{% endblock %}
