{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2>{{ mailbox }}</h2>{% endblock %}

{% block content %}
<ul id="subnav">
  <li><a href="{% url userena_umessages_inbox %}">{% trans "Inbox" %}</a></li>
  <li><a href="{% url userena_umessages_outbox %}">{% trans "Outbox" %}</a></li>
  <li><a href="{% url userena_umessages_trash %}">{% trans "Trash" %}</a></li>
  <li><a href="{% url userena_umessages_compose %}">{% trans "Compose" %}</a></li>
</ul>
<br />
<form id="messages_form" action="{% if mailbox == "trash" %}{% url userena_umessages_unremove %}{% else %}{% url userena_umessages_remove %}{% endif %}" method="post">
  {% csrf_token %}
  <table width="100%">
    <tr>
      <th scope="col">&bull;</th>
      <th scope="col">{% trans "From" %}</th>
      <th scope="col">{% trans "Date received" %}</th>
      <td></td>
    </tr>
    {% for message in message_list %}
    <tr{% if not message.is_read %}class="new"{% endif %}>
      <td>{% if not message.is_read %}&bull;{% endif %}</td>
      <td>{{ message.sender.username }}</th>
      <td><a href="{{ message.get_absolute_url }}" title="{% trans "View message" %}">{{ message }}</a></td>
      <td>{{ message.sent_at|timesince }} {% trans "ago.."%}</td>
      <th scope="row"><a href="{% url userena_umessages_reply message.pk %}" title="{% trans "Reply to this message" %}">{% trans "Reply" %}</a></th>
      <th scope="row"><input type="checkbox" value="{{ message.pk }}" name="message_pks" /></th>
    </tr>
    {% endfor %}
    {% if mailbox == "trash" %}
      <input type="submit" value="Restore" />
    {% else %}
      <input type="submit" value="Remove" />
    {% endif %}
  </table>
</form>
{% endblock %}
