{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2>{{ mailbox }}</h2>{% endblock %}

{% block content %}
<ul id="subnav">
  <li><a href="{% url userena_umessages_inbox %}">{% trans "Inbox" %}</a></li>
  <li><a href="{% url userena_umessages_outbox %}">{% trans "Outbox" %}</a></li>
  <li><a href="{% url userena_umessages_drafts %}">{% trans "Drafts" %}</a></li>
  <li><a href="{% url userena_umessages_trash %}">{% trans "Trash" %}</a></li>
  <li><a href="{% url userena_umessages_compose %}">{% trans "Compose" %}</a></li>
</ul>
<br />
<table width="100%">
  <tr>
    <th scope="col">&bull;</th>
    <th scope="col">{% trans "From" %}</th>
    <th scope="col">{% trans "Subject" %}</th>
    <th scope="col">{% trans "Date received" %}</th>
    {% if mailbox != "drafts" %}
    <td></td>
    {% endif %}
    <td></td>
  </tr>
  {% for message in message_list %}
  <tr{% if not message.is_read %}class="new"{% endif %}>
    <td>{% if not message.is_read %}&bull;{% endif %}</td>
    <td>{{ message.sender.username }}</th>
    <td><a href="{{ message.get_absolute_url }}" title="{% trans "View message" %}">{{ message.subject }}</a></td>
    <td>{{ message.sent_at|timesince }} {% trans "ago.."%}</td>
    {% if mailbox != "drafts" %}
    <th scope="row"><a href="{% url userena_umessages_reply message.pk %}" title="{% trans "Reply to this message" %}">{% trans "Reply" %}</th>
    {% endif %}
    <th scope="row">{% trans "Remove" %}</th>
  </tr>
  {% endfor %}
</table>
{% endblock %}
