/*	WdeB
	breadandpepper.com
	................................... */

@import "reset.css";


/*	Main elements
    ................................... */
    
html, body{
	font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
	background: #eae5e1 url(../img/bg-container.png) repeat-y center top;
}

#container{
	width: 1008px;
	margin: 0 auto;
	background: url(../img/gridd.png) repeat-y center top;
}

#top{
	height: 22px;
	background-color: #111;
	border-bottom: 1px solid #fff;
}

#content-container{
	overflow: auto;
	padding: 12px;
}
#header{
	height: 120px;
	margin: -2px 0 0 0;
	padding: 0 13px;
	position: relative;
}

#nav{
	position: absolute;
	right: 0;
	top: 50px;
	overflow: auto;
	
}

#nav li{
	float: left;
	margin: 0 12px;
	padding: 3px;
}

#nav li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	padding: 8px 15px 7px;
	display: block;
	background-color: #e7e3df;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
        box-shadow: 0 0 2px #999;
	text-shadow: #efeded 1px 1px 0;
}

#nav li a:active{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
        box-shadow: none;
        padding: 9px 15px 6px;
}

#intro{
	padding: 50px 0 0 416px;
	min-height: 300px;
	background: url(../img/userena.png) no-repeat 80px center;
}



#footer{
	background: url(../img/stripe.png) repeat-x center top;
	margin: 40px 12px 60px;
	padding: 20px 0;
}

.white-box{
	margin: 15px auto 20px;
	padding: 12px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #ffffff;
	width: 506px;
	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
        box-shadow: 0 0 3px #999;
}

#details{
	min-height: 120px;
}


/*	Type
    ................................... */

h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif; text-transform: uppercase; text-shadow: #ffffff 1px 1px 0px;}

p{
	font-size: 1.0em;
	line-height: 1.5em;
	color: #444;
	margin: 0 0 0.9em 0;
	text-shadow: #ffffff 1px 1px 0;
}

.white-box p{
	margin: 0 12px 5px;
	color: #000;
}

h1{
	margin: 25px 0 0 ;
	font-size: 2.2em;
}

h2{
	font-size: 1.8em;
	margin: 0 0 9px;
}

h2 span{
	font-size: 1.8em;
	color: #ac1500;
}

.white-box h2{
	width: 482px;
	padding: 5px 12px 6px;
	font-size: 1.9em;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px solid #f1edeb;
	color: #ab292a;
}

h3{
	font-size: 1.4em;
	margin: 0 0 5px;
}


h4{
	font-size: 1.2em;
}

h5{
	font-size: 1.0em;
}

h6{
	font-size: 0.7em;
}

a{
	color: #790000;
	text-decoration: underline;
}

a#fork{
	position: fixed;
	top: -2px;
	right: -2px;
	width: 136px;
	height: 138px;
	display: block;
	text-indent: -9999px;
	background-image: url(../img/forkme.png);
}

.white-box img{
	float: right;
	border: 3px double #f1edeb;
	padding: 4px;
	background-color: #fff;
	margin: 0 10px;
}

.white-box ul{
	border-top: 3px double #f1edeb;
	overflow: auto;
}

.white-box ul li{
	border-bottom: 1px solid #f1edeb;
	width: 33.3%;
	padding: 12px 0;
	float: left;
	text-align: center;
}

.white-box ul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 0.7em;
}

/*	Forms
    ................................... */

form {
	margin: 15px auto 20px;
	padding: 12px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #ffffff;
	width: 506px;
	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
        box-shadow: 0 0 3px #999;
}

form p {
	padding: 3px 10px;
	margin: 0;
	position: relative;
	border-bottom: 1px solid #f1edeb;
}

form p label {
	width: 150px;
	padding: 0 20px 0 0;
	float: left;
	display: block;
	font-weight: bold;
	line-height: 4.0em;
	font-size: 0.60em;
	color: #444;
	text-align: right;
}

form p.checkbox {
	border: none;
}

form p.checkbox label {
	width: inherit;
	float: none;
	text-align: left;
	padding: 0 0 0 165px;
}



span.label {
	color: #111;
	font-weight: bold;
}

input[type=text],input[type=password], input[type=file], textarea, span.editable {
	width: 300px;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 6px;
	color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
}

input[type=checkbox] {
	padding: 14px 0;
	width: 20px;
}

input[type=radio] {
	margin: 0 8px 0 0;
}

select {
	min-width: 60px;
	margin: 5px 2px;
}

input:focus,
textarea:focus,
span.editable:focus {
	outline: none;
	background-color: #fff;
	border: 1px solid #4c4c4c;
}

textarea {
	min-height: 6em;
}

input[type=submit] {
	height: 35px;
	line-height: 34px;
	padding: 0 10px;
	margin: 8px 0 0 180px;
	min-width: 150px;
	background-color: #ab292a;
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px outset #ce3024;
	color: #f9f9f9;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	text-shadow: #5e98bd 0 -1px 0;
	text-align: center;
	cursor: pointer;
	font-family: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}

input[type=submit]:hover {
	color: #f9f9f9;
	cursor: pointer;
}

input[type=submit]:active {
	line-height: 36px;
	background-color: #bd302d;
	line-height: 36px;
	border: 1px inset #ce3024;
}

#signin input[type=checkbox] {
	display: block;
	float: left;
	padding: 0;
	margin: 3px;
	width: 10px;
}

ul.errorlist {
	border: 1px solid #a3181c;
	background-color: #fedae0;
	color: #a3181c;
	margin: 5px 12px 3px 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

ul.errorlist li {
	font-size: 0.7em;
	padding: 5px 5px 4px 5px;
	font-weight: bold;
}

legend {
	width: 482px;
	padding: 5px 12px 6px;
	font-size: 1.9em;
	color: #ab292a;
	font-weight: bold;
	border-bottom: 1px solid #f1edeb;
}

fieldset {
	margin: 0 0 20px 0;
}

/*	Nav
    ................................... */

#header h1{
	width: 150px;
	height: 112px;
	margin: 0;
}

#header h1 a{
	width: 150px;
	height: 112px;
	display: block;
	text-indent: -9999px;
	background: url(../img/bread-and-pepper-logo.png) center top;
}

#header h1 a:hover{
	background: url(../img/bread-and-pepper-logo.png) center bottom;
}

/*	features
    ................................... */

ul.features {
	overflow: auto;
	margin: 40px -12px 0;
}


	
ul.features li{
	background: url(../img/stripe.png) repeat-x center top;
	padding: 30px 10px 0 0;
	float: left;
	width: 310px;
	margin: 10px 0 0 12px;
	min-height: 180px;
}   

/*	blocks
    ................................... */
ul.blocks {
	overflow: auto;
	margin: 40px -12px 0;
}


	
ul.blocks li{
	background: url(../img/stripe.png) repeat-x center top;
	padding: 30px 0 0;
	float: left;
	width: 237px;
	margin: 10px 0 0 12px;
	text-align: center;
}

#browse{
	width: 128px;
	height: 128px;
	display: block;
	text-indent: -9999px;
	background-image: url(../img/icon-browse.png);
	margin: 20px auto;
}

#download{
	width: 128px;
	height: 128px;
	display: block;
	text-indent: -9999px;
	background-image: url(../img/icon-download.png);
	margin: 20px auto;
}

#docs{
	width: 128px;
	height: 128px;
	display: block;
	text-indent: -9999px;
	background-image: url(../img/icon-docs.png);
	margin: 20px auto;
}

#demo{
	width: 128px;
	height: 128px;
	display: block;
	text-indent: -9999px;
	background-image: url(../img/icon-demo.png);
	margin: 20px auto;
}      


/*	footer
    ................................... */ 
    
a#crew{
	height: 100px;
	width: 281px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
	background: url(../img/crew.png) center top;
}    

a#crew:hover{
	background-position: 0 bottom;
}    
    
#footer p{
	text-align: right;
	font-size: 0.8em;
}    
    
    
    
    
    
    
    
    
       
    