{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2>{% trans 'Account list' %}</h2>{% endblock %}

{% block content %}
<ul id="account_list">
    {% for account in account_list %}
    <li>
        <img src="{{ account.get_mugshot_url }}" /><br />
        <a href="{% url userena_detail account.user.username %}">{{ account.user.username }}</a>
    </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% url userena_list_paginated page_obj.previous_page_number %}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% url userena_list_paginated  page_obj.next_page_number %}">{% trans 'next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
