{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content %}

<div class="white-box">
<h2>{% trans "My account" %}</h2>
<img src="{{ account.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
<p><b>{% trans "Name" %}:</b> {{ account.user.get_full_name }}</p>
<p><b>{% trans "Email" %}:</b> {{ account.user.email }}</p>
<p><b>{% trans "Age" %}:</b> {{ account.age }}</p>
<p><b>{% trans "Website" %}:</b> {{ account.website }}</p>
<p><b>{% trans "Location" %}:</b> {{ account.location }}</p>
<p><b>{% trans "About me" %}:</b> {{ account.about_me }}</p>
<ul>
    <li><a href="{% url userena_email_change %}">{% trans "Edit details" %} &raquo;</a></li>
    <li><a href="{% url userena_password_change %}">{% trans "Change password" %} &raquo;</a></li>
    <li><a href="{% url userena_email_change %}">{% trans "Change e-mail address" %} &raquo;</a></li>
</ul>
</div>
{% endblock %}
