{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup almost done!" %}{% endblock %}

{% block content_title %}<h2>{% trans "Signup" %}<h2>{% endblock %}

{% block content %}
<p>{% trans "Thank you for signing up with us!" %}</p>
<p>{% trans "You have been send an e-mail with an activation link." %}</p>
<p>{% blocktrans %}We will delete your signup information if you don't activate your account within {{ userena_activation_days }} days.{% endblocktrans %}</p>
{% endblock %}
