{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Signup</legend>
        {% for field in form %}
        {{ field.errors }}
        {% comment %} Displaying checkboxes differently {% endcomment %}
        {% if field.name == 'tos' %}
        <p class="checkbox">
            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
        </p>
        {% else %}
        <p>
            {{ field.label_tag }} 
            {{ field }}
        </p>
        {% endif %}
        {% endfor %}
        <input type="submit" value="{% trans "Signup"%}" />
    </fieldset>
</form>
{% endblock %}
