{% extends "base.html" %}
{% block content %}
<div id="intro">
    <h2><span>django-userena</span><br/>Accounts made beautifully simple</h2>
    <p>Userina is a Django application that wants to supply you with account functionality according to current <a href="http://designingsocialinterfaces.com/patterns/Profile">standards</a>.</p>
    <p><strong>Please do note that userina is currently under heavy development and not yet ready for production.</strong></p>
    

</div><!-- /intro-->
<p id="xtra-info">Got any feedback? Email me at &#112;&#101;&#116;&#97;&#114;&#64;&#98;&#114;&#101;&#97;&#100;&#97;&#110;&#100;&#112;&#101;&#112;&#112;&#101;&#114;&#46;&#99;&#111;&#109;. For bugs you can report an issue at <a href="http://github.com/bread-and-pepper/django-userena/issues">Github</a>.</p>
<ul class="features">
    <li><h3>Feature #1</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p></li>
    <li><h3>Feature #2</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p></li>
    <li><h3>Feature #3</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p></li>
    <li><h3>Feature #4</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p></li>
    <li><h3>Feature #5</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p></li>
    <li><h3>Feature #6</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p></li>
</ul>
<ul class="blocks">
    <li><h3>Browse source</h3>
    <a href="http://github.com/bread-and-pepper/django-userena" id="browse">Browse</a>
    </li>
    <li><h3>Download</h3>
    <a href="http://github.com/downloads/bread-and-pepper/django-userena/django-userena-0.1-alpha.tar.gz" id="download">Download</a>
    </li>
    <li><h3>Read docs</h3>
    <a href="http://packages.python.org/django-userena/" id="docs">Documentation</a>
    </li>
    <li><h3>Try it out!</h3>
    <a href="{% url userena_signup %}" id="demo">Try it out!</a>
    </li>
</ul>
{% endblock %}
