{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Userena crashed!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Accounts for your Django application" />
        <meta name="keywords" content="accounts, django, bread and pepper, open source" />
        <meta name="author" content="Bread and Pepper" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/master.css" />
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div id="top">&nbsp;</div>
        <div id="container">	
            <div id="content-container">
                <h1>Userena crashed</h1>
                
                <p>Sorry for the inconvenience.</p>

                <p>Please take the time to report an issue at Github so it doesn't happen again.</p>
            </div><!-- /content-container-->
        </div><!-- /container-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8888610-14']);
            _gaq.push(['_trackPageview']);
            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
     </body>
 </html>
